{% extends 'specification/base.html' %}

{% block title %}
Standard Changes
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="my-4">Standard Changes</h2>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a class="btn btn-primary standardchange-create-btn" href="{% url 'standardchange_create' %}">
      <span class="d-none d-md-inline">Create new Standard Change</span>
      <span class="d-inline d-md-none"><i class="fa-solid fa-plus"></i></span>
    </a>
    <!-- 検索フォームを追加 -->
    <form method="get" action="{% url 'standardchange_list' %}" class="d-flex justify-content-end">
      <div class="form-group d-flex mb-0">
        <input type="text" id="item_id" name="item_id" class="form-control me-2" placeholder="商品IDを入力">
        <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
  </div>
  <div class="table-responsive d-none d-md-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">更新日</th>
          <th scope="col" style="width: 150px;">商品ID</th>
          <th scope="col">商品名</th>
          <th scope="col">規格変更内容</th>
          <th scope="col">仕入先名</th>
          <th scope="col">詳細</th>
        </tr>
      </thead>
      <tbody>
        {% for change in standard_changes %}
        <tr>
          <td>{{ change.update_date }}</td>
          <td>{{ change.item_id.item_id }}</td>
          <td>{{ change.item_id.item_name }}</td>
          <td>{{ change.change_details }}</td>
          <td>{{ change.item_id.supplier_id.supplier_name }}</td>
          <td class="d-none d-md-table-cell">
            <a class="btn btn-info btn-sm" href="{% url 'standardchange_detail' change.pk %}">詳細</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-block d-md-none">
    <ul class="list-group">
      {% for change in standard_changes %}
      <li class="list-group-item" style="padding-right: 50px;">
        <div class="d-flex justify-content-between align-items-center clickable-row" style="cursor: pointer;">
          <div>
            <strong>{{ change.update_date }}</strong><br>
            <p style="margin: 0;"><strong>商品ID:</strong> {{ change.item_id.item_id }}</p>
            <p>{{ change.item_id.item_name }}</p>
          </div>
          <div>
            <a class="btn btn-link" href="{% url 'standardchange_detail' change.pk %}" style="display: inline-table; position: absolute; top: 0; bottom: 0; right: 0;">
              <i class="fa-regular fa-file-lines" style="font-size: 1.5rem;"></i>
            </a>
          </div>
        </div>
        
        <div id="collapse{{ change.pk }}" class="accordion-collapse">
          <div class="accordion-body">
            <p style="margin: 0;"><strong>規格変更内容:</strong></p>
            <p>{{ change.change_details }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  document.querySelectorAll('.clickable-row').forEach(row => {
    row.addEventListener('click', function() {
      const target = this.nextElementSibling;
      if (target.style.maxHeight) {
        target.style.maxHeight = null;
      } else {
        target.style.maxHeight = target.scrollHeight + "px";
      }
    });
  });
</script>
{% endblock %}
