<!-- standardchange_create.html -->

{% extends 'specification/base.html' %}

{% block title %}Create Standard Change{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">規格変更情報　作成</h2>
    <form method="post" enctype="multipart/form-data" id="standardChangeForm">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                <div class="form-group row">
                    <label for="{{ form.update_date.id_for_label }}" class="col-sm-2 col-form-label">更新日</label>
                    <div class="col-sm-10">
                        {{ form.update_date }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.item_id.id_for_label }}" class="col-sm-2 col-form-label">商品ID</label>
                    <div class="col-sm-10">
                        {{ form.item_id }}
                        <span id="itemIDError" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.change_details.id_for_label }}" class="col-sm-2 col-form-label">規格変更内容</label>
                    <div class="col-sm-10">
                        {{ form.change_details }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.attachment.id_for_label }}" class="col-sm-2 col-form-label">添付ファイル:</label>
                    <div class="col-sm-10">
                        {{ form.attachment }}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>

<script>
    document.getElementById('standardChangeForm').addEventListener('submit', function (event) {
        event.preventDefault(); // フォームのデフォルトの送信を防止

        var itemID = document.getElementById('id_item_id').value;
        var itemIDError = document.getElementById('itemIDError');

        // 商品IDの入力が空でないかを確認
        if (itemID.trim() === '') {
            itemIDError.textContent = '商品IDを入力してください。';
            return false;
        }

        // 商品IDが存在するかをサーバーに確認
        fetch('/check_item_id/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-Requested-With': 'XMLHttpRequest' // AJAXリクエストを示すヘッダー
            },
            body: 'item_id=' + encodeURIComponent(itemID) + '&csrfmiddlewaretoken=' + encodeURIComponent('{{ csrf_token }}')
        })
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    document.getElementById('standardChangeForm').submit(); // 商品IDが存在する場合はフォームを送信
                } else {
                    itemIDError.textContent = '商品マスタに登録がありません。正しい商品IDを入力してください。';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('サーバーエラーが発生しました。');
            });

    });
</script>
{% endblock %}